@import '../../css/variables.scss';

.episode-page {
    li {
        padding-bottom: 80px;
        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .episode {
        padding-bottom: 80px;
        .episode-header {
            .left{
                display: none;
            }
            .right {
                float: none;
                text-align: center;
                width: 100%;
            }
        }
    }

    @include respond-above(sm) {
        overflow: auto;
        
        .episode {
            display: block;
        }
    }
}