@import '../../css/variables.scss';

.episode-page {
    li {
        padding-bottom: 80px;
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    .episodes {
        padding: $mobile-content-padding;
    }
    .episode {
        padding-bottom: 80px;
        margin: 0;
        color: $on-primary;
        border-bottom: 1px solid $tertiary;
        background: $primary;
        border-bottom: 1px solid $tertiary-variant;
    
        .episode-header{
            padding: 0;

            .left{
                display: none;
            }
            .right {
                float: none;
                text-align: center;
                width: 100%;
            }
        }

        .episode-link {
            padding-top: 24px;
            text-decoration: underline;
        }
    }
}