@import '../../css/variables.scss';

.episode {
    background: $background-color-surface;
    color: $tertiary-variant-2;
    display: flex;
    border-bottom: 1px solid white;
    padding-bottom: 24px;
    margin-bottom: 24px;

    @media only screen and (max-width: 768px) {
        display: block;
    }

    .thumbnail {
        background-color: $primary-variant;
        height: $thumbnail-size;
        width: $thumbnail-size;

        @media only screen and (max-width: 768px) {
            height: $thumbnail-size-mobile;
            width: $thumbnail-size-mobile;
        }
    }
    .episode-header {
        display: inline-block;
        text-align: left;
        padding: 20px 0;

        .active-date {
            font-size: 12px;
            font-family: $font-serif;
            font-weight: 100;
        }
        .episode-title {
            font-weight: 900;
            font-size: 22px;
        }
    }
    .episode-description {
        text-align: left;
        padding: 20px 0;
        font-size: 14px;
        letter-spacing: 1.2px;
    }
}

.split-content {
    width: 100%;

    span {
        display: block;
        margin-top: 8px;
        letter-spacing: 1.2px;
    }

    .left, 
    .right { 
        float:none;
        height: $thumbnail-size;
    }

    .left {
        float:left;
        width: 40%;
        height: $thumbnail-size-mobile;
    }
    .right {
        float: right;
        width: 60%;
        height: $thumbnail-size-mobile;
    }
}

.slot-1 {
    .episode {
        background-color: $primary;
        color: $on-primary;
    }
}

.slot-2 {
    .episode{
        background-color: $secondary;
        color: $on-secondary;
    }
}