@import '../../css/variables.scss';

.episode {
    background: $background-color-surface;
    color: $on-surface;
    display: flex;

    margin-bottom: 24px;

    @media only screen and (max-width: 768px) {
        display: block;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid white;
        padding-bottom: 24px;
    }

    .thumbnail {
        height: 200px;
        width: 200px;
    }
    .episode-header {
        font-weight: 900;
        padding: 20px;
    }
    .description {
        padding: 20px;
    }
    .footer {
        text-align: right;
        padding: 10px 0;
    }
}

.slot-2 {
    .episode{
        background-color: $secondary;
        color: $on-secondary;
    }
}