@import '../../css/variables.scss';

.episode-detail-page {
    ul {
        margin: 0;
    }

    .episode {
        color: $on-primary;
        border-bottom: none;
        margin-bottom: 0;
        padding: 16px 32px;

        .right {
            text-align: left;
        }

        .episode-audio {
            padding: 20px 0;
        }
    
        .episode-description {
            text-align: center;
        }
    
        .episode-link {
            display: none;
        }
    }


    
    @include respond-above(sm) {
        overflow: auto;

        .episode {
            display: block;
        }

        .content-left {
            float: left;
            width: 50%;
            img {
                height: 400px;
                width: 400px;
            }
        }

        .content-right {
            width: 400px;
            margin: auto;
            display: inline-block;

            div {
                padding: 0;
            }

            .episode-link {
                padding: 16px;
                a {
                    font-weight: bold;
                }
            }
        }
    }
}