@import '../../css/variables.scss';

.episode-detail-page {
    
    a {
        position: unset;
    }

    .left {
        display: none;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .episode-description {
        text-align: center;
    }

    .episode {
        color: $on-primary;
        border-bottom: none;
    }

    .episode-link {
        display: none;
    }

    img {
        height: 100%;
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        overflow: auto;
        .content-left {
            float: left;
            width: 50%;
            img {
                height: 400px;
                width: 400px;
            }
        }

        .content-right {
            width: 400px;
            margin: auto;
            display: inline-block;

            .episode {
                display: flex;
                flex-direction: column;
            }

            div {
                padding: 0;
            }

            .episode-link {
                padding: 16px;
                a {
                    font-weight: bold;
                }
            }
        }
    }
}