@import '../../css/variables.scss';

.episode-page {
    .episodes {
        padding: $mobile-content-padding;
    }
    .episode {
        padding: 24px;
        margin: 0;
        color: $on-primary;
        border-bottom: 1px solid $tertiary;
        background: $primary;
    
        .episode-header{
            padding: 0;

            .left{
                display: none;
            }
            .right {
                float: none;
                text-align: center;
                width: 100%;
            }
        }
    }
}