.nav{
    float: right;

    ul {
        padding: 0 0;
        text-align: center;
        list-style: none;
        display: flex;
        align-items: baseline;
    }

    li{
        padding: 0 20px;
    }
}