@import '../../css/variables.scss';

.content {
    background-color: $background-color;
    padding: 40px 100px;
    text-align: center;

    @media only screen and (max-width: 768px) {
        padding: $mobile-content-padding;
    }
    
    div {
        background: inherit;
    }

    h3.section-header {
        font-family: $font-serif;
        font-weight: 400;
        font-size: 16px;
        width: 100%; 
        text-align: center; 
        color: $tertiary;
        border-bottom: 1px solid $tertiary; 
        line-height: 0.1em;
        margin: 32px 0; 
        background-color: inherit;
    
        span { 
            background: inherit;
            padding:0 48px; 
        }
    } 

    a {
        text-decoration: underline;
        display: block;
        font-size: 12px;
        font-weight: 400;
        position: unset;
    }
}

.slot-1 {
    .left {
        display: none;
    }

    .right {
        width: 100%;
        text-align: center;
    }

    .episode-description {
        text-align: center;
    }

    .episode {
        border-bottom: none;
    }

    img {
        height: 100%;
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
        overflow: auto;
        .content-left {
            float: left;
            width: 50%;
            img {
                height: 400px;
                width: 400px;
            }
        }

        .content-right {
            width: 400px;
            margin: auto;
            display: inline-block;

            .episode {
                display: flex;
                flex-direction: column;
            }

            div {
                padding: 0;
            }

            .episode-link {
                padding: 16px;
                a {
                    font-weight: bold;
                }
            }
        }
    }
}

.slot-2 {
    background: $secondary;
    color: $on-secondary;

    h3.section-header {
        border-bottom: 1px solid $tertiary-variant; 
        span {
            color: $tertiary-variant;
        }
    }

    li {
        display: inline;
    }

    a {
        color: $on-secondary;
        text-align: left;
    }

    .all-episodes-link {
        padding: 8px 0 32px 0;
        a {
            text-align: center;
        }
    }

    @media only screen and (min-width: 768px) {
        h3.section-header {
            width: 50%;
            margin: 32px auto;
        }

        .episodes {
            margin: auto;
        }

        .episode {
            width: 25%;
            display: inline-block;
            margin: 24px 36px;
        }

        .thumbnail {
            height: 100px;
            width: 100px;
        }
    }
    
}

.slot-3 {
    background: $tertiary-variant-2;

    h2 {
        font-family: $font-serif;
        font-size: 22px;
        font-weight: 500;
    }
}