@import '../../css/variables.scss';

.content {
    background-color: $background-color;
    padding: 40px;
    text-align: center;

    @media only screen and (max-width: 768px) {
        padding: 16px 32px;
    }

    h3.section-header {
        font-family: $font-serif;
        font-weight: 400;
        font-size: 16px;
        width: 100%; 
        text-align: center; 
        color: $tertiary;
        border-bottom: 1px solid $tertiary; 
        line-height: 0.1em;
        margin: 32px 0; 
        background-color: inherit;
    
        span { 
            background: inherit;
            padding:0 48px; 
        }
    } 
}

.slot-2 {
    background: $secondary;
    color: $on-secondary;

    h3.section-header {
        border-bottom: 1px solid $tertiary-variant; 
        span {
            color: $tertiary-variant;
        }
    }
}

.slot-3 {
    background: $tertiary-variant-2;

    h2 {
        font-family: $font-serif;
        font-size: 22px;
        font-weight: 500;
    }
}