@import '../../css/variables.scss';

h3 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 8px 0 8px; 

    span { 
        background: $background-color; 
        padding:0 48px; 
    }
} 