@import '../../css/variables.scss';

h1 {
    margin: 0 0;
}

a {
    color: $link-color;

    &:link {
        text-decoration: none;
    }
    
    &:visited {
        text-decoration: none;
    }
    
    &:hover {
        text-decoration: underline;
        color: $secondary-color;
    }
    
    &:active {
        text-decoration: underline;
        color: $secondary-color;
    }

}

.header{
    width: 100%;
    background: $primary-color;
    color: $background-color;
    position: sticky;
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    .title{
        padding: 30px 0;
        @media screen and (max-width:768px){
            width:100%;
            text-align: center;
        }
    }

    @media screen and (max-width:768px){
        display: inline-block;
    }
    
}
.desktop {
    display:flex;
    align-items: baseline;
    @media screen and (max-width:768px){
        display:none;
    }

    a{
        padding: 0 20px;
    }
}

.mobile {
    display:none;
    @media only screen and (max-width: 768px){
        display: block;
    }
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

  /* Color/shape of burger icon bars */
.bm-burger-bars {
    background: $background-color;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background:$background-color;
}

/* General sidebar styles */
.bm-menu {
    background: $primary-color;
    padding: 2em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: $primary-color;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: $background-color;
    width: 100%;
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
    border-top:1px solid $background-color;
    font-size:1.4em;
    padding:1em 0;
    text-align:left;
    a{
        padding-left:0;
      }
      &:last-child{
        border-bottom:1px solid $background-color;
      }
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: $primary-color;
  }