@import '../../css/variables.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    margin: 0 0;
}

.header{
    position: fixed;
    padding: 30px;
    width: 100%;
    background: $primary-color;
    color: $background-color;
    
    a {
        color: $link-color;

        &:link {
            text-decoration: none;
        }
        
        &:visited {
            text-decoration: none;
        }
        
        &:hover {
            text-decoration: underline;
            color: $secondary-color;
        }
        
        &:active {
            text-decoration: underline;
            color: $secondary-color;
        }

    }

    .title{
        float: left;
        padding: 0 30px;
    }
}