@import '../../css/variables.scss';

h1 {
    margin: 0 0;
}
a {
    padding: 0;
    color: $on-primary;
    position: relative;

    &:link {
        text-decoration: none;
    }
    
    &:visited {
        text-decoration: none;
    }
}

.nav {
    box-sizing: border-box;
    a {
        padding: 0;
        color: $on-primary;
        position: relative;

        &:link {
            text-decoration: none;
        }
        
        &:visited {
            text-decoration: none;
        }

        &:before,
        &:after {
            position: absolute;
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }

        &:before {
            bottom: -5px;
            display: block;
            height: 4px;
            width: 0%;
            content: "";
            background-color: $secondary;
        }

        &:after {
            content: attr(data-hover);
            left: 0;
            top: 0;
            color: $on-secondary;
            white-space: nowrap;
            max-width: 0%;
            overflow: hidden;
        }
        &:hover:before,
        &.active:before {
            opacity: 1;
            width: 100%;
        }
        &:hover:after,
        &.active:after {
            max-width: 100%;
        }
    }
    li {
        display: inline-block;
        list-style: outside none none;
        padding: 0 20px;
    }
}

.header{
    width: 100%;
    background: $primary;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: fixed;
    top: 0;

    .title{
        padding: 40px 0;
        font-family: 'LongShot', serif;
        @media screen and (max-width:768px){
            width: 100%;
            position: absolute;
            text-align: right;
            right: 32px;
        }
    }

    @media screen and (max-width:768px){
        display: inline-block;
    }
    
}
.desktop {
    display:flex;
    align-items: baseline;
    @media screen and (max-width:768px){
        display: none;
    }
}

.mobile {
    display:none;
    li {
        padding: 20px; 
    }
    a:after {
        top: -1px;
    }
    @media only screen and (max-width: 768px){
        display: block;
    }
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

  /* Color/shape of burger icon bars */
.bm-burger-bars {
    background: $on-primary;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: $on-primary;
}

/* General sidebar styles */
.bm-menu {
    background: $primary;
    padding: 2em 1.5em 0;
    font-size: 1.15em;
  }
   
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: $primary;
  }
   
  /* Wrapper for item list */
  .bm-item-list {
    color: $on-primary;
    width: 100%;
  }
   
  /* Individual item */
  .bm-item {
    display: inline-block;
    font-size:1.4em;
    padding:1em 0;
    text-align:left;
    a{
        padding-left:0;
      }
  }
   
  /* Styling of overlay */
  .bm-overlay {
    background: $background-color;
  }