/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "LongShot";
    src: url("./fonts/LongShot.eot"); /* IE9 Compat Modes */
    src: url("./fonts/LongShot.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/LongShot.otf") format("opentype"), /* Open Type Font */
      url("./fonts/LongShot.svg") format("svg"), /* Legacy iOS */
      url("./fonts/LongShot.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/LongShot.woff") format("woff"), /* Modern Browsers */
      url("./fonts/LongShot.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}