$font-stack: 'Crimson Text', serif;

$primary-color: #000;
$secondary-color: #AAA;
$link-color: #F7F7F7;

$text-color: rgb(5, 5, 5);
$text-color-dark: rgb(177, 177, 177);

$background-color: rgb(219, 219, 219);
$background-color-dark: rgb(0, 0, 0)