@import '../../css/variables.scss';

.footer {
    text-align: center;
    padding: 40px 32px 0 32px;

    .logo {
        padding: 40px 0;
    }

    li {
        padding: 16px;
    }

    a {
        position: unset;
    }

    .legal {
        padding: 16px 0; 
        border-top: 1px solid $tertiary-variant-2;
        margin-top: 16px;
        font-size: 12px;
        color: $tertiary-variant;
    }

    @include respond-above(sm) {
        .mobile {
            display: inline-block;
        }
        .links {
            display: flex;
            align-items: baseline;
            margin: auto;
        } 
    }
}