$font-stack: 'Crimson Text', serif;
$primary-color: #000;
$background-color: #F7F7F7;

body {
    padding: 0;
    margin: 0 auto;
    background: $background-color;
    color: $primary-color;
    font: 100% $font-stack;
    font-weight: 100;
}

main {
    box-sizing: border-box;
    padding: 40px;
    position: relative;
  width: 100%;
  top: 90px;
}
